In [7]:
#Import libraries
import pandas as pd
import numpy as np

In [8]:
#Read in 'twitter_df'
df = pd.read_csv("../dataset/twitter_df.csv")

In [9]:
[df['user_location_cleaned']=='None']

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 22148     True
 22149    False
 22150     True
 22151    False
 22152    False
 Name: user_location_cleaned, Length: 22153, dtype: bool]

In [10]:
df.drop(df[df.user_location_cleaned == 'None'].index, inplace=True)

In [13]:
df.to_csv('df.csv')

In [17]:
df[df['user_location_cleaned']=='GB']

,Unnamed: 0,tweet_id,tweet_posted_on,tweets,cleaned_tweets,user_location,user_location_cleaned,polarity
9,9,1416176967259500545,2021-07-16 23:24:34+00:00,"The latest update for #Axosoft includes ""#GitK...",latest update includes team mental health,"London, England",GB,1
26,26,1416170880993005574,2021-07-16 23:00:23+00:00,Thinking of investing in Employee Engagement s...,thinking investing employee engagement softwar...,Surrey UK,GB,1
36,36,1416168270697222146,2021-07-16 22:50:01+00:00,RT @AXELGlobal: Performing a lot of tasks onli...,performing task online almos ideal this realit...,"England, United Kingdom",GB,0
69,69,1416157013193723905,2021-07-16 22:05:17+00:00,RT @TheInstantGroup: The past year has taught ...,past year taught company employee alike that p...,"London, England",GB,1
74,74,1416155784405295114,2021-07-16 22:00:24+00:00,You need to adapt your processes for remote wo...,need adapt your process remote work continue o...,Surrey UK,GB,1
...,...,...,...,...,...,...,...,...
22087,22087,1418991433143488512,2021-07-24 17:48:15+00:00,Infrastructure Systems Engineer\nfrom Picture ...,infrastructure system engineer from picture more,United Kingdom UK GB,GB,1
22098,22098,1418981342361104385,2021-07-24 17:08:10+00:00,Check out Inclusion. The Cloud Company\n\nThey...,check inclusion cloud company they looking rem...,"London, England",GB,0
22102,22102,1418977803433877513,2021-07-24 16:54:06+00:00,RT @CoWorkersLLC: The pandemic changed the way...,pandemic changed think about office world open...,London,GB,1
22104,22104,1418977411950055428,2021-07-24 16:52:32+00:00,Looking for tips on managing long-term #remote...,looking tip managing long term check following...,London,GB,0
22139,22139,1418966927653933064,2021-07-24 16:10:53+00:00,We think employee engagement software is espec...,think employee engagement software especially ...,Surrey UK,GB,0