In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Read in 'twitter_df'
df = pd.read_csv("../dataset/twitter_df.csv")

In [10]:
df.drop(df[df.user_location_cleaned == 'None'].index, inplace=True)

In [13]:
df.to_csv('df.csv')

In [3]:
df[df['user_location_cleaned']=='AU']

,Unnamed: 0,tweet_id,tweet_posted_on,tweets,cleaned_tweets,user_location,user_location_cleaned,polarity
22,22,1416172472899186688,2021-07-16 23:06:43+00:00,RT @MarshaCollier: Use this Goldman Sachs data...,goldman sachs data convince bos work home trav...,"Sydney, New South Wales",AU,0
864,864,1415970567354716160,2021-07-16 09:44:25+00:00,SmartCompany: .@WhoGivesACrapTP co-founder @si...,smartcompany founder say running remote busine...,Australia,AU,0
866,866,1415970306666033158,2021-07-16 09:43:23+00:00,RT @Smokeball_AU: Our clients are telling us t...,client telling lost without smokeball right cl...,"Sydney, New South Wales",AU,1
973,973,1415919632318226432,2021-07-16 06:22:01+00:00,Remote work is now an everyday reality. Integr...,remote work everyday reality integrate busines...,Australia,AU,1
1007,1007,1415899284927508484,2021-07-16 05:01:10+00:00,"Working with us will reduce your overhead, all...",working reduce overhead allowing fund directly...,Australia | Philippines,AU,1
...,...,...,...,...,...,...,...,...
21462,21462,1419341327502807044,2021-07-25 16:58:37+00:00,RT @stratorob: Success is the sum of small eff...,success small effort repeated,LON | NYC | HKG | SYD | SIN,AU,1
21640,21640,1419279513352122375,2021-07-25 12:52:59+00:00,RT @stratorob: Success is the sum of small eff...,success small effort repeated,LON | NYC | HKG | SYD | SIN,AU,1
21698,21698,1419243160585359365,2021-07-25 10:28:32+00:00,RT @codecidedotnet: The best — and worst — cit...,best worst city remote work yahoo news http,"Carnegie, VIC, AU, 3163",AU,0
21856,21856,1419134576673296386,2021-07-25 03:17:03+00:00,Outsourcing done right can make a huge impact ...,outsourcing done right make huge impact bottom...,Australia | Philippines,AU,0
21876,21876,1419118973325479938,2021-07-25 02:15:03+00:00,3 REASONS THE REMOTE WORK TREND IS HERE TO STA...,reason remote work trend stay continuous advan...,"Sydney, New South Wales",AU,0